


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color:#ECF8FE;
  font-family: "Roboto Mono", monospace;
}


/*----------BODY / TRANS -----------*/

body{
  background: url(../src/assets/img/pexels-pixabay-258136.jpg) no-repeat fixed center  ;
  background-size: cover;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 15px;
}

.trans{
  padding: 15px;
  background: hsla(198, 90%, 8%, 0.8);
  border-radius: 15px;
}

/*-----------Hamburguesa-------*/

.hamburguesa{
  display: none;
}


/*---------- NAVBAR ----------- */

.nav{
  width: 60%;
  background: hsla(198, 90%, 8%, 0.8);
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.nav .cerrar-menu{
  display: none;
}

.nav .elementoNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.nav .elementoNav a{
  padding: 15px 0px;
  text-decoration: none;
  color: #ECF8FE;;
  position: relative;
  transition: all .5;
}

.nav .elementoNav a::before{
  content: '';
  width: 0;
  height: 2px;
  background: #ECF8FE;
  bottom: 10px;
  position: absolute;
  transition: all .3s;
} 

.nav .elementoNav a:hover::before{
  width: 70%;
} 

.nav .elementoNav a i{
  margin-right: 10px;
}

.nav .elementoNav .responsive{
  display: none;
}

/*---- IMAGEN Y NOMBRE -----*/

.header-img{
  display: flex;
  flex-direction: row;
  Justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(7, 93, 136, 0.2);


  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


.header-img .perfil-img{
  max-width: 20%;
}

.header-img .perfil-img img{
  width: 100%;
  border-radius: 50%;
  
}

.header-img .letrero{
  font-size: 2vmin;
  margin: 25px;
}



/*------------------------*/
.perfil{
  display: flex;
  flex-wrap: wrap;

}

.perfil .texto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
/*------------------------*/
.conocimientos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* align-items: center; */
}

/* --------------------- CONOCIMIENTOS Y TECNOLOGIAS ------------------------ */

.conocimientos .tecnologias ul{ 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;

}

.conocimientos .tecnologias ul li{
  background-color: #075D88;
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  /* margin: 50px; */
  text-align: center;
  border-radius: 5px; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* .conocimientos .tecnologias ul li .logo-tech{ } */


.matriz{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.caja{
  width:  100px;
  height: 100px;
  background: #075D88;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* position: relative; */
}



/*-------------------------------CARD DE PROYECTOS ------------------------*/


.card__project{
  width: 350px;
  margin:10px;
  padding: 10px;
  border: 2px solid steelblue;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
}

.img__card{
  width: 100px;
  height: 100px;

}
.img__card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}
.text__card{
  width: 200px;
  margin-left: 20px;
}


/*------------------ INFORMACIÓN DE CONTACTO Y ENVIO ---------------------*/

.contacto{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.contacto .info-contacto{
  padding: 2rem;
  background: #03283A;
  width: 90%;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.contacto .formulario{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.contacto .formulario div form{
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}


.contacto .formulario div form div label{
  
}

.contacto .formulario div form div input{

  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}


.contacto .formulario div form div textarea{
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}

.contacto .formulario div button{
  background: #075D88;
  width:100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
/*------------ MODIFICACIONES RESPONSIVE ----------------------*/

@media screen and (max-width: 1024px){
  /* .header-img .letrero{
    font-size: 3vmin;
    margin: 10px;
    text-align: center;
  } */
  
}

@media screen and (max-width: 890px){
  nav .elementoNav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  nav .elementoNav a span{
    padding-top: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {

  nav .elementoNav a{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  } 
  nav .elementoNav a span{
    display: none;
  }

  nav .elementoNav a i{
    margin: 0;
    padding: 5px;
    border-radius: 20%;
    transition: all .3s;
  } 
  

  nav .elementoNav a i:hover{
    background: #ECF8FE;
    color:#075D88;
    border-radius: 50%;
    
  } 



  /* nav .elementoNav a::before{
  
  } */
  nav .elementoNav a:hover::before{
    width: 0;
    display: none;
  } 

  .header-img{
    font-size: 2vmin;
  }

  /* .header-img .letrero{
    font-size: 3vmin;
    margin: 10px;
    text-align: center;
  } */
}


@media screen and (max-width: 425px){

  .nav{
    opacity: 0; 
    visibility: hidden;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 2px;
    border-radius: 10px 0 0 10px;
  }

  /*-------*/

  .nav.visible{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
  }

  /*--------*/
  .nav .cerrar-menu{
    display: block;
    background: none;
    border: 0;
    padding: 10px;

  }


  .nav .cerrar-menu i{
    border-radius: 60%;
    transition: all .5s;
    padding: 5px;
    margin: 5px;
  }
  .nav .cerrar-menu i:hover{
    cursor: pointer;
    background: #ECF8FE;
    color: #03283A;
  }

  .nav .elementoNav{
    flex-direction: column;
  }

  .hamburguesa{
    width: 30%;
    background: hsla(198, 90%, 8%, 0.8);
    border-radius: 40px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }

  .hamburguesa .abrir-menu{
    padding: 15px ;
    background: none;
    border: 0px;
  }

  .hamburguesa .abrir-menu i{
    padding: 15px ;
    margin: 5px;
    border-radius: 50%;
    transition: all .5s;
  }

  .hamburguesa .abrir-menu i:hover{
    background: #ECF8FE;
    color:#075D88;
    border-radius: 50%;
  }

}




