


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color:#ECF8FE;
  font-family: "Roboto Mono", monospace;
}


/*----------BODY / TRANS -----------*/

body{
  background: url(../src/assets/img/pexels-pixabay-258136.jpg) no-repeat fixed center  ;
  background-size: cover;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 15px;
}

/*-----------Hamburguesa-------*/

.hamburguesa{
  display: none;
}


/**---------- NAVBAR ----------- **/

.nav{
  width: 60%;
  background: hsla(198, 90%, 8%, 0.8);
  border-radius: 40px;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.nav .cerrar-menu{
  display: none;
}

.nav .elementoNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.nav .elementoNav a{
  padding: 15px 0px;
  text-decoration: none;
  color: #ECF8FE;;
  position: relative;
  transition: all .5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

.nav .elementoNav a::before{
  content: '';
  width: 0;
  height: 2px;
  background: #ECF8FE;
  bottom: 10px;
  position: absolute;
  transition: all .3s;
} 

.nav .elementoNav a:hover::before{
  width: 70%;
} 

.nav .elementoNav a div{
  width: 30px;
  height: 30px;
  background: #ECF8FE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 5px;
}

.nav .elementoNav a div i{
  color: #075D88;
  /* aspect-ratio: 1/1;
  object-fit: contain; */
}

/* .nav .elementoNav a span{

} */

/* .nav .elementoNav a i{
  margin-right: 10px;
} */

.nav .elementoNav .responsive{
  display: none;
}


/** TRANS **/

.trans{
  max-width: 1130px;
  margin: 0 auto;
  padding: 20px;
  background: hsla(198, 90%, 8%, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/**---- PERFIL =>  ( IMAGEN / NOMBRE / PROFESION / INTRO ) -----**/

.perfil{
  display: flex;
  flex-direction: column;
  Justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  background: rgba(7, 93, 136, 0.2);

  /* background-repeat:  no-repeat;
  background-position: center;
  background-size: cover; */

  border-radius: 10px;
  padding: 20px;
  margin: 1rem;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/** GENERICOS => (ICONOS )**/

.perfil-icono {
  /* background: #000; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0px 20px 20px 20px;
  border: 1px  solid #fff;
  text-align: center;
  border-radius: 10px;
}

.perfil-icono:nth-child(){
  background: #000;
  padding: 20px;
} 

.perfil-icono div{
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 50%;
}

.perfil-icono div i{
  color:#075D88;
}

.perfil-icono p{
  font-size: 18px;
}

/** ---- INFORMACION PERFIL ----**/

.perfil-info{
  width:100% ;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  
}


.perfil .perfil-info .perfil-img{
  /* background: #5a1616; */
  width:40% ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 5px;
}

.perfil .perfil-info .perfil-img img{
  width: 80%;
  border-radius:50%;
}

.perfil .perfil-info .perfil-contenedor{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.perfil .perfil-info .perfil-contenedor{
  padding: 0 10px;
  margin: 0 5px;

}
.perfil .perfil-info .perfil-contenedor .perfil-letrero h1{
  font-size: 32px;
  font-weight: 600;
  margin:0;
}

.perfil .perfil-info .perfil-contenedor .perfil-letrero h2{
  font-size: 16px;
  margin: 10px 0px;
}

.perfil .perfil-info .perfil-contenedor .perfil-letrero hr{
  margin: 10px 0px;
  width: 70%;
}

.perfil .perfil-info .perfil-contenedor .perfil-texto h3{
  font-size: 14px;
}

.perfil .perfil-info .perfil-contenedor .perfil-texto p{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

/**---- EXPERIENCIA  ----**/


.experiencia{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experiencia-contenido{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.experiencia-contenido .listas{
  width: 40%;

}

.experiencia-contenido .listas .lista-experiencia-2 h3{
  margin:10px 0;
}

.experiencia-contenido .listas .lista-experiencia h3{
  margin-bottom:10px;
}
.experiencia-contenido .estudios{
  width: 30%;
}


/**---- CONOCIMIENTOS  ----**/

.conocimientos{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.conocimientos .tecnologias ul{ 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.conocimientos .tecnologias ul li{

  width: 120px;
  height: 120px;
  background-color:  #075D88;
  /* padding: 1rem; */
  list-style-type: none;
  text-decoration: none;
  /* margin: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* text-align: center; */
  border-radius: 5px; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* .conocimientos .tecnologias ul li .logo-tech{ } */

.conocimientos .tecnologias ul li .logo-tech{
  /* background: #075D88; */
  /* width: 100%;
  height: 80px;
  padding: 5px;
  margin: 5px; */
  
  /* position: relative; */
  
  display:  flex;
  align-items: center;
  justify-content: center;


} 

.conocimientos .tecnologias ul li .logo-tech i {
  /* position: absolute;
  top:50%; 
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 30px;
}


.matriz{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.caja{
  width:  100px;
  height: 100px;
  background: #075D88;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /** position: relative; **/
}

/**-- PROYECTOS --**/

.proyectos{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card__project{
  background: rgba(0, 30, 49, 0.5);
  width: 350px;
  height: 200px;
  margin:10px;
  padding: 10px;
  /* border: 2px solid #03283A; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
}

.img__card{
  width: 100px;
  height: 100px;

}
.img__card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}
.text__card{
  width: 200px;
  margin-left: 20px;
}


/**---- INFORMACIÓN DE CONTACTO Y ENVIO ----**/

.contacto{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto .info-contacto{
  width: 100%;
  padding: 20px;
  background: #03283A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* gap: 2rem; */
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.contacto .info-contacto .ciudad-movil{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content:center; 
  align-items:center;

}

.contacto .info-contacto .ciudad-movil .icon-contacto{
  width: 40px;
  height: 40px;
  margin: 20px;
  background: #075D88;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contacto .info-contacto .ciudad-movil .icon-contacto span{
  font-size: 25px;
}

.contacto .info-contacto .ciudad-movil h3{
  text-align: center;
  margin-bottom: 20px;
}
.contacto .info-contacto .ciudad-movil hr{
  width: 80%;
}

.contacto .info-contacto .ciudad-movil hr:nth-child(1){
  margin-bottom:20px;
}
.contacto .info-contacto .ciudad-movil .whats-tele{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


/* .contacto .info-contacto .ciudad-movil .whats-tele .icon-contacto span{
  font-size: 25px;
} */



.contacto .info-contacto .formulario{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contacto .info-contacto .myForm {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
.contacto .info-contacto .myForm .icon-email{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #072D88; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.contacto .info-contacto .myForm .icon-email span{
  background-color: #075D88;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

.contacto .info-contacto .myForm .correo-titulo{
  margin-bottom: 10px;
}


/* .contacto .formulario div form{
  
}


.contacto .formulario div form div label{
  
}

.contacto .formulario div form div input{


}


.contacto .formulario div form div textarea{
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}

.contacto .formulario div button{
  background: #075D88;
  width:100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer; */

/* } */

.contacto .info-contacto  .myForm div label{
  display:block;
  margin: 10px 0px;
}

  .contacto .info-contacto .myForm div input{
    display: block;
    border: none;
    padding-left: 16px;
    color: #000;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }


  .contacto .info-contacto .myForm div textarea{
    display:block;
    border: none;
    border-radius: 5px;
  }

  .contacto .info-contacto .myForm .boton button{
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 5px 10px;
    background: #075D88;
    border: none;
    border-radius: 3px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }


/*------------ MODIFICACIONES RESPONSIVE ----------------------*/

@media screen and (max-width: 1078px){
  
  .nav{
      padding: 5px;
  }

  .nav .elementoNav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav .elementoNav a div{
    width: 32px;
    height: 32px;
    background: #ECF8FE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

  }

}

@media screen and (max-width: 890px){
  nav .elementoNav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  nav .elementoNav a span{
    padding-top: 10px;
    font-size: 12px;
  }




}


@media screen and (max-width: 800px) {

  nav .elementoNav a span{
    display: none;
  }

}

@media screen and (max-width: 600px) {

  nav .elementoNav a{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  } 
  nav .elementoNav a span{
    display: none;
  }

  nav .elementoNav a i{
    margin: 0;
    padding: 5px;
    border-radius: 20%;
    transition: all .3s;
  } 
  

  nav .elementoNav a i:hover{
    background: #ECF8FE;
    color:#075D88;
    border-radius: 50%;
    
  } 



  /* nav .elementoNav a::before{
  
  } */
  nav .elementoNav a:hover::before{
    width: 0;
    display: none;
  } 

  .header-img{
    font-size: 2vmin;
  }

  .contacto .info-contacto{
    flex-direction: column;

  }

  .contacto .info-contacto .ciudad-movil .whats-tele{
    justify-content:space-around;
  }

}


@media screen and (max-width:560px){

  .nav{
    opacity: 0; 
    visibility: hidden;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 2px;
    border-radius: 10px 0 0 10px;
  }

  /*-------*/

  .nav.visible{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
  }

  /*--------*/
  .nav .cerrar-menu{
    display: block;
    background: none;
    border: 0;
    padding: 10px;
  }

  .nav .cerrar-menu i{
    border-radius: 60%;
    transition: all .5s;
    padding: 5px;
    margin: 5px;
  }
  .nav .cerrar-menu i:hover{
    cursor: pointer;
    background: #ECF8FE;
    color: #03283A;
  }

  .nav .elementoNav{
    flex-direction: column;
  }

  .hamburguesa{
    width: 30%;
    background: hsla(198, 90%, 8%, 0.8);
    border-radius: 40px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }

  .hamburguesa .abrir-menu{
    padding: 15px ;
    background: none;
    border: 0px;
  }

  .hamburguesa .abrir-menu i{
    padding: 15px ;
    margin: 5px;
    border-radius: 50%;
    transition: all .5s;
  }

  .hamburguesa .abrir-menu i:hover{
    background: #ECF8FE;
    color:#075D88;
    border-radius: 50%;
  }


  /**---- PERFIL-INFO - IMAGEN - CONTENEDOR ----**/

  .experiencia-contenido{
    flex-direction: column;
  }
  .experiencia-contenido .listas{
    width: 80%;
  }
  .experiencia-contenido .estudios{
    width: 80%;
  }
  .experiencia-contenido .estudios h3{
    margin-top: 20px;
  }

  .perfil .perfil-info{
    display: flex;
    flex-direction: column;
    align-items:center ;
  }

  .perfil .perfil-info .perfil-img{
    margin-bottom: 20px;
    width: 50%;

  }
  .perfil .perfil-info .perfil-contenedor{
    width: 90%;
  }
  .perfil .perfil-info .perfil-contenedor .perfil-letrero h1{
    font-size: 16px;
  }
  .perfil .perfil-info .perfil-contenedor .perfil-letrero h2{
    font-size: 20px;
  }

  

  /**---- CONTACTO MENSAJE - UBICACION ----**/

  .ciudad-movil{
    width: 100%;
  }

  .ciudad-movil .whats-tele{

    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 100%;
  }

  .ciudad-movil .whats-tele .icon-contacto{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 50%;
    background: #179135;
    /* display: flex; */
  }

  /**---- CONTACTO - FORMULARIO ----**/
  
  .contacto .info-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  /* .contacto .info-contacto .myForm {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  } */

  .contacto .info-contacto  .myForm div, .contacto .info-contacto  .myForm h3{
    margin-bottom: 20px;
  }
  .contacto .info-contacto  .myForm .icon-email{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #075D88;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  } 

  .contacto .info-contacto  .myForm div label{
    display: inline-block;
    margin-bottom: 8px;
  }

  .contacto .info-contacto .myForm div input{
    display: inline-block;
    border: none;
    color: #000;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .contacto .info-contacto .myForm div textarea{
    display:inline-block; 
    border: none;
    border-radius: 8px;
  }
  .contacto .info-contacto .myForm .boton button{
    
    width: 160px ;
    padding: 5px 10px;
    background: #075D88;
    border: none;
    border-radius: 3px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

}

